.card {
    background: linear-gradient(180deg, rgb(191, 193, 195) 0%, rgb(103, 104, 105) 80%);
    ;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
    display: none;
}
.card .card-body {
    padding: 1rem;
}
.card .card-title{
    margin-top: -0.5rem;
}
    .card .card-text {
        margin-top: 1.5em;
        font-size: large;
    }

.list-group{
    z-index: 1;
    width:100%;
    position:fixed;
    left:0px;
    height:100%;
}
.list-group {
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}