body, html {
    height: 100%;
    width: 100%;
    background: rgb(149,158,171);
    background: linear-gradient(180deg, rgba(149,158,171,1) 0%, rgba(0,0,0,1) 100%);
}


.nav-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}
.system{
    padding: 0 .25rem 0 .25rem;
}
html {
  font-size: 14px;
}
#statusBar {
    
    background: linear-gradient(180deg, rgba(86,91,98,1) 0%, rgba(65,69,74,1) 27%, rgba(66,62,62,1) 100%);
}


