@page
@model AquilaSoftware2._0.Pages.DrivingScreenModel
@{
    ViewData["Title"] = "DrivingScreen";
}

<link rel="stylesheet" href="~/css/drivingScreen.css" />



<div class="d-flex flex-column bd-highlight">
    <canvas class="car-info" id="speed-canvas"></canvas>

    <div class="car-info" id="battery-info">
        <div class="d-flex flex-row justify-content-center">

        
        <p>Range:&nbsp; </p><div class="car-info miles">200</div><p>&nbsp; miles </p>
        </div>
        <div id="battery"></div>

    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/drivingScreen.js" asp-append-version="true"></script>



