@page
@model AquilaSoftware2._0.Pages.MediaScreenModel
@{
    ViewData["Title"] = "MediaScreen";
}

<button id="test">Test</button>
<h2 class="msg2"></h2>



<script src="~/js/mediaScreen.js" asp-append-version="true"></script>

