@page
@model AquilaSoftware2._0.Pages.MediaScreenModel
@{
    ViewData["Title"] = "MediaScreen";
}

<button></button>
<h2 class="msg2"></h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script>
<script src="~/js/mediaScreen.js" asp-append-version="true"></script>

