@page
@model AquilaSoftware2._0.Pages.SettingsScreenModel
@{
    ViewData["Title"] = "SettingsScreen";
}

<div class="card time" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


<div class="list-group list-group-flush">
  <button type="button" id="time" class="list-group-item list-group-item-action settings-btn"  >Change Time</button>
  <button type="button"  class="list-group-item list-group-item-action settings-btn">Morbi leo risus</button>
  <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
  <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
  <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
</div>

<!-- <div id="myElement">
    <h4>Testing touch</h4>
</div> -->


<!-- <script src="~/lib/hammerjs/touch-emulator.js"> </script> -->
<!-- <script >TouchEmulator();</script> -->
<!-- <script src="~/lib/hammerjs/hammer.js"></script> -->
<link rel="stylesheet" href="~/css/settingScreen.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/settingScreen.js" asp-append-version="true"></script>
