@page
@model AquilaSoftware2._0.Pages.SettingsScreenModel
@{
    ViewData["Title"] = "SettingsScreen";
}

<div class="card time" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Change Time</h5>
    <div class="card-settings d-flex justify-content-around  ">
        <div class="d-flex justify-content-around flex-column">
            <button type="button" class="m-2 btn btn-info btn-xs time-hour up "><i class="fas fa-arrow-up"></i> </button>
            <button type="button" class="m-2 btn btn-info btn-xs time-hour down"><i class="fas fa-arrow-down"></i> </button>
        </div>
        
        <div class="d-flex flex-row card-text"><div class="hour-setup">4</div>:<div class="minute-setup">30</div></div>
        <div class="d-flex justify-content-around flex-column">
            <button type="button" class="btn btn-info btn-xs time-minute up"><i class="fas fa-arrow-up"></i> </button>
            <button type="button" class="btn btn-info btn-xs time-minute down"><i class="fas fa-arrow-down"></i> </button>
        </div>
       


    </div>
   
  </div>
</div>


<div class="list-group list-group-flush">
    <button type="button" id="time" class="list-group-item list-group-item-action settings-btn">Change Time</button>
    <button type="button" id="Settings 2" class="list-group-item list-group-item-action ">Settings 2</button>
    <button type="button" id="Settings 3" class="list-group-item list-group-item-action ">Settings 3</button>
    <button type="button" id="Settings 4" class="list-group-item list-group-item-action ">Settings 4</button>
    <button type="button" id="Settings 5" class="list-group-item list-group-item-action ">Settings 5</button>
    <button type="button" id="Settings 6" class="list-group-item list-group-item-action ">Settings 6</button>
    <button type="button" id="Settings 7" class="list-group-item list-group-item-action ">Settings 7</button>
    <button type="button" id="Settings 8" class="list-group-item list-group-item-action ">Settings 8</button>
  
</div>

<!-- <div id="myElement">
    <h4>Testing touch</h4>
</div> -->


<!-- <script src="~/lib/hammerjs/touch-emulator.js"> </script> -->
<!-- <script >TouchEmulator();</script> -->
<!-- <script src="~/lib/hammerjs/hammer.js"></script> -->
<link rel="stylesheet" href="~/css/settingScreen.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/settingScreen.js" asp-append-version="true"></script>
